.tooltip-cotainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.tooltip{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0;
}
.cloud{ 
    min-width: 100px;
    min-height:50px;
    background:#ECEFF1;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius: 20%;
 }
.top{
    top: -50px;
}
.bottom{
    bottom: -50px;
}
.right{
    right: -100px;
}
.left{
    left: -100px;
}